div.side-menu-bar{
    background: aliceblue;
    position: fixed;
    top: 0;
    left: 0;
    width: 3%;
    height: 100%;
    transition: all 0.5s ease;
    display:flex;
    flex-direction: column;    
    
}
img.logo-responsive{
    margin:0 auto;
    padding:.2%;
    max-width:15px;
    margin-top:30px;
}
img.icons-responsive{
    margin:0 auto;
    padding:.2%;
    max-width:15px;
    margin-top:30px;
}